<h2>Tasks</h2>
<div class="form">
  <div class="form-group ">
    <label for="owner" class="mx-sm-1">Owner</label>
    <select id="owner" class="form-control" [(ngModel)]="query.userName"  (change)="onFilterChange()" name="owner" 
      #owner="ngModel">
      <option value=""></option>
      <option *ngFor="let o of users" [value]="o.name">{{o.name}}</option>
    </select>
    
  </div>
  <button type="button" class="btn btn-success"  (click)="resetFilter()">Reset</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
          {{ c.title }}
          <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending"
            [class.fa-sort-desc]="!query.isSortAscending"></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of queryResult.items">
      <td>{{ t.urgentLevel }}</td>
      <td>{{ t.ownerUserName }}</td>
      <td>{{ t.deadline }}</td>
      <td>{{ t.title }}</td>
      <td>{{ t.description }}</td>
      <td>{{ t.status }}</td>
      <td>
        <a [routerLink]="['/Task/', t.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize"
  (page-changed)="onPageChange($event)"></app-pagination>